<a href="https://colab.research.google.com/github/ibsenmelo/python_course/blob/master/C%C3%B3pia_de_1st_Assignment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## First list of exercises

#### Ordered from the easiest to the "hardest"

1) Write a function that takes an integer minutes and converts it to seconds. <font color='green'>(EASY)</font>

In [ ]:
def segundos(minuto):
  return minuto*60

In [ ]:
segundos(3)

180

2) Create a function that converts a date formatted as MM/DD/YYYY to YYYYDDMM. The input is a string!

In [ ]:
import re

In [ ]:
def mudaData(date):
  x1 = re.split("/",date)
  return x1[2] + x1[1] + x1[0]

In [ ]:
date = '03/23/2014'

In [ ]:
mudaData(date)

'20142303'

3) A typical car can hold four passengers and one driver, allowing five people to travel around. Given n number of people, `return` how many cars are needed to seat everyone comfortably.

In [ ]:
import math

def qtosCarros(n):
  return math.ceil(n/5)

In [ ]:
qtosCarros(11)

3

4) Create a function that replaces all the vowels in a string with the character '#'.

In [ ]:
def vogais(frase):
  return "".join(map(lambda x: '#' if x in "aeiou" else x, frase))

In [ ]:
a = 'bom dia'
vogais(a)

'b#m d##'

5) Write a function that inverts the keys and values of a dictionary.

In [ ]:
x1 = {'a':1,'b':2,'c':3}

In [ ]:
def invertDict(x1):
  return dict(zip(list(x1.values()), list(x1.keys())))

In [ ]:
invertDict(x1)

{1: 'a', 2: 'b', 3: 'c'}

6) Create a function that takes a list of strings and return a list, sorted from shortest to longest.

In [ ]:
import pandas as pd

In [23]:
def ordenaLista(xx1):
  lst2 = list(map(lambda x: len(x), xx1))
  df = pd.DataFrame(list(zip(xx1, lst2)), 
               columns =['word', 'size']) 
  df = df.sort_values('size')
  return list(df['word'])

In [25]:
teste = 'Create a function that returns True if the first list is a subset of the second. Return False otherwise.'.split()

In [26]:
ordenaLista(teste)

['a',
 'a',
 'if',
 'is',
 'of',
 'the',
 'the',
 'list',
 'that',
 'True',
 'first',
 'False',
 'Return',
 'Create',
 'subset',
 'returns',
 'second.',
 'function',
 'otherwise.']

7) Create a function that returns True if the first list is a subset of the second. Return False otherwise.

In [9]:
def dentro(x,y):
  return set(x) <= set(y)

In [2]:
x = ['1','2']
y = ['1','2','3','4','5']
x2 = ['5','6']

In [12]:
dentro(x,y)

True

8) Create a function that takes an integer and returns the factorial of that integer. That is, the integer multiplied by all positive lower integers.

In [ ]:
def fatorial(numero):

9) Create a function that takes a number as an argument and returns how many times it is multiple of 3.

In [19]:
import numpy

def fatorial(numero):
  resultado = numpy.prod(list(range(numero, 0, -1)))
  print(resultado)

In [21]:
fatorial(4)

24

10) Create a function that sorts a list and removes all duplicate items from it. (Don't use 'set')

In [58]:
def ordenaUnico(x):
  lista = list(dict.fromkeys(x))
  lista.sort()
  print(lista)

In [59]:
teste = 'create and and and oi oi dia dia dia integers'.split()
teste

['create', 'and', 'and', 'and', 'oi', 'oi', 'dia', 'dia', 'dia', 'integers']

In [60]:
ordenaUnico(teste)

['and', 'create', 'dia', 'integers', 'oi']